<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 16px;
    line-height: 22px;
  }

  .separation{
    width: 100%;
    margin-inline: 20px;
    justify-self: center;
    border: 1px solid rgb(165, 165, 165);
  }
</style>

<div class="message-content">
  <p>Hello {{name}}!</p>
  <hr class="separation" />
  <br />
  <p>We received a request to change your password.</p>
  <p>If was you, please click on the link below to change your password.</p>
  <p>
    <a href={{link}}>Change My Password</a>
  </p>
  <p>If this solicitation was not made by yourself, please discard this message.</p>
</div>
